#calc-frame {
    display: flex;
    flex-direction: column;
    height: 400px;
    width:200px;
    background-color: black;
    padding: 30px;
}

#screen {
    height:90px;
    background-color: gray;
    margin-bottom: 20px;
    display: flex;
    flex-direction: column;
    padding: 8px;
    gap: 8px;
    text-align: right;
}

#screen .top {
    padding: 3px;
    background-color: tan;
    min-height: 10px;
}

#screen .bot {
    padding: 3px;
    background-color: white;
    flex: auto;
    font-size: 30px;
}

#keyboard {
    background-color: blue;
    flex:auto;
    display: flex;
    flex-direction: column;
    gap: 5px;
    padding: 5px;
}

#keyboard-row {
    display: flex;
    flex: auto;
    gap: 5px;
}

button.calc-but,
.button-spacer {
    flex: 1;
    margin: 0px;
    padding: 0px;
    border: 0px;
}