body {
    display: flex;
    justify-content: center;
    margin: 50px;
    font-family: sans-serif;
    background-color: beige;
}

#calc-frame {
    display: flex;
    flex-direction: column;
    height: 450px;
    width:250px;
    background-color: rgb(42, 38, 38);
    padding: 30px;
    border-radius: 20px;
}

#screen {
    height:70px;
    background-color: rgba(172, 255, 47, 0.877);
    margin-bottom: 20px;
    display: flex;
    flex-direction: column;
    padding: 4px;
    text-align: right;
    font-family: 'Calculator', sans-serif;
    border-radius: 2px;
}

#screen .top {
    min-height: 20px;
    font-size: 15px;
    display: flex;
    align-items: center;
    justify-content: right;
}

#screen .bot {
    /* padding: 2px; */
    flex: auto;
    font-size: 40px;
    display: flex;
    align-items: center;
    justify-content: right;
    
}

#keyboard {
    background-color: grey;
    flex:auto;
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding: 5px;
    border-radius: 20px;
}

#keyboard-row {
    display: flex;
    flex: auto;
    gap: 10px;
}

button.calc-but,
.button-spacer {
    flex: 1;
    margin: 0px;
    padding: 0px;
    border: 4px;
    border-radius: 20px;
    font-size: 25px;
}